h1 , h2, h3, h4 , h5, h6{
  font-family: "Poppins", Arial, sans-serif;
}

p{
  font-family: "Montserrat", Arial, sans-serif;
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration-line: none;

}

body{
  /* position: relative; */
  height: 100%;
  width: 100%;
}
.cars{
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index:100;

  /* visibility: visible; */
}



.cars img {
  width: 300px;
  height: 300px;
  object-position: center;
  object-fit: cover;
}
/*swipper*/
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next, .swiper-button-prev{
  color: #fff !important;
  

}
.close{
  position: absolute;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor:pointer;
  z-index: 333;
}
.mainSec{
    height: 100%;
    width: 20%;
    background-color:#f8f9fa;
    position: fixed;
    display: flex;
    /* align-items: center;
    justify-content:center; */
    text-align: center;
  
}
.mainSec .content h5{
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
  color: #000;
}
.card{
  background-color: transparent;
  border: none;
}
.content{
 margin-top: 40px;
}

.avatar {
  margin: 20px auto auto auto;
  object-fit: cover;
  object-position: center right;
  border:4px solid #fff;
  box-shadow:0 0 0 7px rgba(211, 185, 185, 0.2);

}
ul{
  padding: 0;
  margin: 0;
  /* padding: 50px auto; */
  /* background-color: violet; */
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;

}
ul li {
  list-style: none;
  /* margin: 10px 0px ; */
  padding: 10px 10px;
  /* border-bottom:black solid 1px; */
}

ul li a{
  color: rgba(0, 0, 0, 0.7);
  text-decoration-style: none;
  position: relative;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.dropdown{
  display: none;

}
/* .dropdown-icon{
  display: block;
} */

@media screen and (max-width:680px){
  .mainSec {
    display: none;


  }
  .mainSec h5 {
    font-size: 12px;
    font-weight: normal;
  }
  .mainSec ul li{
    font-size: 12px;
    font-weight: normal;

  }
  .dropdown{
    display: block;
    position: fixed;
    width: 60px;
    min-height: 60px;
    top: 0;
    left: 0;
    z-index: 233;
  }
  li.dropdown-icon{
    width:100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    float: left;
    list-style: none;
  }
  li.dropdown-icon a{
    color: black;
    font-size: 30px;
  }

}
@media screen and (min-width:680px){
  .mainSec{
    display: block;
    font-size: 18px !important;

  }
  .homeSec{
    width: 80%;
    font-size: 18px !important;
  }

}

.content ul li a::after {
  content: "";
  /* box-sizing: border-box; */
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #000000;
  /* visibility: hidden;  */
  transform: scaleX(0);

}

ul li a:hover {
  color:#000;
  text-decoration-line:none ;

  /* border-bottom: solid black 0.5; */
}
.content ul li a:hover:after{

  transform: scaleX(1);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}
/* email address form*/
.form{
  font-size: 20px;
  position: relative;
  font-family: 'Baloo Thambi 2', cursive;
  margin-top: 70px;
  bottom: 0;

}

.form input{
  height: 50px;
  border: #eee;
  box-shadow:7px 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.icon{
  font-size: 17px;
  color: #999;
  position: absolute;
  top: 25%;
  right: 20px;

}




/*Home section design */


.homeSec{
  position: absolute;
  width: 80%;
  right: 0;
  overflow: hidden;
}

@media screen and (max-width:680px){
  .homeSec{
    width: 80%;
  }
}
@media screen and (min-width:680px){
  .mainSec{
    display: block !important;
  }
  .homeSec{
    width: 80% !important;
  }

}

.slider {
  height: 660px;
  background-color:#f8f9fa !important ;
}

.car-img{
  height: 100%;
}

.slider-item{
  height: 660px;
  width: 100%;
  background-image: url('images/author-2.jpg');
  background-position: center;
  background-size: cover;
  background-origin: content-box;
}



.author-info{
  width: 100%;
  overflow: hidden;
  padding: 30px  60px;
  line-height: 2;
}

/*author info design */
.subheading{
  font-size: 24px;
  color: #bfbfbf;
  font-weight: 400;
  font-family: "Montserrat", Arial, sans-serif;
  /* z-index: 15; */
}

.hide-letter{
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  color: #ededed;
  z-index: -1;
  font-size: 70px;
  line-height: 1;
  font-family: "Poppins", Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}
.mp4{
  letter-spacing: 1px;
  font-weight: 900;
  color: #ccb78f;

}

.mp4 span{
  color: #000;
}
.mp3{
  line-height: 2.1;
  margin: 30px auto;
  color:#999 ;
  font-size: 18px;
  font-weight: 500;
}
.signature{
  font-family: herr von muellerhoff,cursive;
  color: rgba(0,0,0,.8);
  font-weight: 400;
}


/*social media button design*/
.social-media{
  display: flex;

}
.social-media .fa {
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
  width: 55px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook, .fa-google, .fa-linkedin {
  background: #ffffff;;
  color: rgb(75, 74, 74);
}

.fa-instagram{
  background-color: transparent;
  color: white;
}
.fa-instagram:hover{
  opacity: 1;
  color: white;
  background-color: transparent;
  text-decoration-line: none ;
}







/*Home content design */
.homeCon{
  min-height: 300px;
  background-color: #ffffff;
  text-align: center;
  margin: 70px  auto 50px auto;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Poppins", Arial, sans-serif;

}
.homeCon h5{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}




.img-1{
  background-image: url(images/image_1.jpg);

}
.img-2{
  background-image: url(images/image_4.jpg);

}
.img-3{
  background-image: url(images/image_3.jpg);
}
.img-1, .img-2, .img-3{
  position: relative;
  /* position: absolute; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 180px;
  /* background-image: url(images/image_3.jpg); */
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  /* padding: auto 10px; */
}

@media screen and (max-width:680px){

}
.insta {
  position: absolute;
  width: 100%;
  height: 180px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-item:hover > .insta{
  z-index: 1;
}



.img-items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  
}
.img-item{
  padding: 0;
  margin: 0;

}

.insta .fa{
  font-size: 45px;
}






/*Home Footer design*/

.homeFooter{
  width: 100%;
  min-height: 300px;
  background-color: #242423;
  color: #ffffff;
  padding: 40px 50px 20px 50px;
}

.homeFooter h2{
  color: #fff;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.collection{
  padding: 0 20px;
  /* margin-top: 30px; */
  width: 100%;
  height: 200px;
  /* background-color: thistle; */
}
.collection .imgs{
  margin-top: 50px;
}

.col-img{
  background-image: url(images/image_3.jpg);
  background-size: cover;
  background-position: center;
  width: 33.33%;
  height: 50%;
  float: left;

}
.collection ul{
  /* display: flex; */
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: wheat;
}

.arch {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* padding: auto 25px; */
  /* background-color: gray; */
}

.arch ul{
  margin: 0;
  padding: 0;
}

.list-item{
  position: relative;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: solid rgba(255, 255, 255, 0.1) 0.1px;
  color:rgba(255, 255, 255, 0.5);
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;

}
.list-item-1{
  padding-left: 0;
  margin-left: 0;
  position: relative;
  text-align: left;
  background-color: transparent;
  border: none;
}
.list-item-1 a{
  color: #ffffff;

}
.list-item span{
  position: absolute;
  right: 0;
  /* top: 0; */
}


.list-item-1 .address{

  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
}

.shape{
  margin: 0 10px;
}

.contact{
  /* background-color: tomato; */
  margin: 0;
  padding: 0;
}
.contact ul{
  margin: 0;
  padding: 0;
  /* background-color: violet; */
  text-align: left;
}


.homeFooter p {
  /* margin-left: 20px; */
  margin-top: 60px;
  /* margin-bottom: 20px; */
  color:rgba(255, 255, 255, 0.5);
  font-weight: 500;

}





/* 
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:
  
  14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
 */ 